.tarea{
  position: relative;
}
.tarea i{
    position: absolute;
    right: 10px;
    top: 55px;
    font-size: 25px;
    color: red;
    cursor: pointer;
    padding: 5px 10px;
}
.navbar{
  position: relative;
}
.alertoption{
  position: absolute;
  top:70px;
  right:20px;
  width: 400px;
  text-align: center;
}